librosa
fastapi
pydantic
uvicorn
pytest
jiwer
psycopg2-binary
inflect
ffmpeg-python
fastapi-sqlalchemy
SQLAlchemy
transformers
datasets
vosk
ffmpy
loguru
matplotlib
python-multipart
torchaudio
python-dotenv
arabic_pronounce
pypinyin
gdown
Unidecode
PyYAML==5.1
codernitydb3
mishkal